// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // define grid rows 1st  2nd height of content 3rd 40vw
  // cols are more imp than rows in naming and size specification
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  // define 8 column layout (just like in bootstrap it's 12)
  // 1140px/8 = 142.5 = 14rem approx, 1140px is just an assumption of big screen width
  // min width of each col is content size and max is 140px or 14rem
  // 1fr(fractional space will occupy the remaining space on left and right) keeping out main 8 cols in center
  // [] contains column track names
  // grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}
